<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Proposta enviada para análise</title>
</head>
<head>
  <style>
    div: { padding: 1rem }
    ul li { list-style: none; }
    img { display: block; max-width: 60px; width: 100%; }
    h2 { color: black; }
    p { color: black; margin-left: 16px; }
  </style>
</head>
<body>


  <div>
    <h2>Proposta enviada para análise</h2>

    <ul>
        <span>Cliente</span>
		<li>ID: {{ id }}</li>        
        <li>Nome: {{ cliente.nome }} </li>
    </ul>
</div>	
</body>
</html>